/*
  * General HTML elements styling. Without using classes.
  */
html {
  box-sizing: border-box;
  margin: auto;
  font-family: var(--font-sans);
  background-color: var(--site-background, transparent);
  color: var(--site-text, black);
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

summary {
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }
}

strong,
b {
  font-weight: var(--font-bold, 700);
}

em {
  font-style: italic;
}

del {
  text-decoration: line-through;
  color: var(--gray-5);
}

small {
  font-size: 80%;
}

input[type="checkbox"],
input[type="radio"] {
  all: revert;
}

a {
  color: currentColor;

  &:not([href]) {
    cursor: not-allowed;
  }

  &:hover {
  }
}

img {
  object-fit: cover;
  display: block;
}

dialog::backdrop {
  background: rgb(0 0 0 / 88%);
}

dialog + .backdrop {
  background: rgb(0 0 0 / 88%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* For CMS usage - list elements without class should have defaults styling */
:where(ul, ol):not([class]) {
  list-style: revert;
  padding-inline-start: 24px;
  padding-left: 24px;
}

/*
  :where(p, a, ul, li, ol, strong, b):where(:not([class], [rel="tag"])) {
	font-size: var(--text-base, 1rem);
	line-height: var(--line-height, 1.5);
  }
   */

:where(input, select, textarea):where([class~="default"], :not([class])) {
  background-color: var(--neutral-3);
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid var(--gray-2);
  padding: 1.75ex;
  width: 100%;

  &::placeholder {
    color: var(--gray-6);
  }
}

table {
  width: 100%;
}

