:host {
  display: block;
}

.container {
  display: flex;
  border: 1px solid var(--neutral-3, #ededed);
  border-radius: 3px;
  width: min-content;
  margin-top: 8px;
}

.container > * {
  flex: 1 1 30%;
}

:host button {
  all: unset;
  display: revert;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #dadada;
  transition: color 250ms ease-in-out;
  border: 0 solid var(--neutral-3, #ededed);
  text-align: center;
  width: 40px;
  height: 40px;
}

:host button:first-of-type {
  border-right-width: 1px;
}

:host button:last-of-type {
  border-left-width: 1px;
}

:host button:hover {
  color: var(--neutral-10, #000);
}

:host button[disabled] {
  background-color: var(--neutral-1, #ededed);
  cursor: not-allowed;
}

::slotted(input[type="number"]) {
  all: unset !important;
  display: revert !important;
  appearance: textfield !important;
  text-align: center !important;
  min-width: 3ch !important;
  width: 45px !important;
}

:host p {
  all: unset;
  color: var(--color-text, #000);
}

.flex {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}
