{% extends 'woocommerce.twig' %}

{% block content %}
	<div class="grid [ grid-cols-2 lg:grid-cols-4 ] [ gap-6 mt-8 ]">
		{% for product in cross_sells %}
			{{ dump(product) }}
			{% set product = fn('wc_get_product', product.id) %}
			{% include ["partial/tease-product.twig"] with {post: product, product: product} %}
		{% endfor %}
	</div>
{% endblock %}
