.c-button[data-button-type="filled"] {
  --button-color: var(--color-primary);
  --button-background: var(--white);
}

.c-button[data-button-type="outline"] {
  --button-color: var(--white);
  --button-background: transparent;
  --button-border: 1px solid var(--white);
}

.c-button:is(:hover, :focus) {
  --button-background: var(--green-6);
}
