/* .theme-theme selector is for development purposes. */
body:is(.theme-theme, .theme-korina) {
  & .fc-wrapper .fc-checkout-step,
  & div.woocommerce form .fc-step__substep,
  & div.woocommerce form .fc-step__substep:is(
    [data-substep-id="billing_address"],
    [data-substep-id="shipping_address"]) :is(
      .select2-selection,
      input[type="date"],
      input[type="email"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="tel"],
      input[type="text"],
      input[type="url"],
      select,
      textarea),
  & div.woocommerce form .fc-step__substep[undefined],
  & .fc-progress-bar .fc-progress-bar__inner,
  & .select2-dropdown,
  & form.woocommerce-checkout .fc-wrapper .fc-checkout-order-review .fc-checkout-order-review__inner,
  & .fc-checkout-header .fc-checkout__cart-link,
  & .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > input[type="radio"]:first-child:checked + label,
  & .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box {
    background-color: var(--white);
  }

  & .select2-container--default .select2-results__option--highlighted[aria-selected],
  & .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: var(--black);
  }

  & .fc-progress-bar {
    display: none;
  }

  &.woocommerce-checkout .fc-content.fc-container {
    max-width: auto;
    padding: 0;
  }

  & form.woocommerce-checkout .fc-wrapper {
    & .fc-checkout-order-review .fc-checkout-order-review__inner {
      padding: 32px;
    }

    & #order_review table.woocommerce-checkout-review-order-table {
      margin: auto;
      width: 100%;

      & .product-details {
        padding: 0;
        width: auto;
        float: none;
      }

      & td,
      & th {
        padding: 8px 0;
      }

      & tbody td,
      & tbody th {
        padding: 32px 0;
      }

      & tr:first-child {
        border: 0;

        & .product-name,
        & .product-total {
          padding: 0;
        }

        & .product-total {
          width: auto;
          float: none;
        }
      }
    }
  }
}
