.padding-inline-1 {
  padding-inline: 0.25em;
}

/** WordPress specific hacks */

.wp-block-separator.has-background:not(.is-style-dots) {
  opacity: 0.8;
}

/* Homepage blog settings */
.home {
  & .wp-block-query {
    & .wp-block-post > * + * {
      margin-top: var(--space-sm);
      margin-bottom: 0;
    }

    & .wp-block-post-featured-image img {
      aspect-ratio: 2;
      object-fit: cover;

      @supports not (aspect-ratio: 1) {
        height: 170px;
      }
    }
  }
}

.wp-block-woocommerce-product-search {
  margin-block: 2rem;

  & form {
    border: 2px solid var(--white);
  }

  &::before {
    content: "";
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &:focus-within {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(0 0 0 / 88%);
      opacity: 1;
    }

    & form {
      position: relative;
    }
  }
}

.c-product-teaser {
  position: relative;
}

.c-product-teaser > .onsale {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  color: black;
  text-transform: uppercase;
  padding-inline: 0.25rem;
}

.woocommerce-message {
  padding: 1rem;
  margin-block: 1rem;

  /* background-color: #202020; */
}

.added_to_cart.wc-forward {
  width: 100%;
  display: flex;
  place-content: center;
  border: 2px solid var(--white);
  text-align: center;
  margin-top: 0;
  padding-block: 1rem;
}

.shop_table {
  & td,
  & th {
    padding-block: var(--space-sm);
  }

  & td:not(.product-name) {
    width: auto;
    text-align: right;
  }

  & input[type="radio"] {
    all: revert;
  }
}

.woocommerce-form__label-for-checkbox input[type="checkbox"] {
  all: revert;
}

.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
  grid-column: span 2;
  background-color: var(--gray-10);
  color: var(--white);
  padding: 5ex;
}

.wp-block-video {
  margin: 0;
}

.hoverable-image {
  position: relative;
  display: block;
  margin: 0;

  &::before {
    content: "O_o\AZobacz więcej";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: pre;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 80%);
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

#breadcrumbs a {
  color: #656464;
  font-size: 12px;
  text-transform: uppercase;
}

.breadcrumb_last {
  font-size: 12px;
  text-transform: uppercase;
}

.c-article-content p {
  font-size: 21px;
}

.content-area {
  width: 100%;
}

.c-reveal-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(var(--rotate, 0deg));
  padding: 0.25rem;
  background-color: var(--black);
  transition: transform 300ms ease-in-out;

  &[data-rotated] {
    --rotate: 180deg;
  }
}

table.c-woocommerce-order-completed {
  & td {
    padding-block: 0.75rem;
  }
}

.c-products-filters {
  flex-basis: 230px;
}

.l-products-list {
  @media (--lg) {
    flex-basis: calc(var(--container-full) - 230px - 32px);
  }
}

.password-input {
  position: relative;

  & .show-password-input {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, 50%);

    &::before {
      font-family: fontello;
      font-style: normal;
      font-weight: normal;
      speak: never;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: 0.2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e806";

      &.display-password {
        content: "\e807";
        font-size: 125%;
        margin-left: -0.75em;
      }
    }
  }
}

.woocommerce-MyAccount-navigation-link.is-active {
  font-weight: bold;
  color: var(--color-primary);
}

.woocommerce-notices-wrapper {
  margin-block-start: 24px;
  margin-block-end: 48px;

  & .woocommerce-error,
  & .woocommerce-info,
  & .woocommerce-message {
    border-radius: 3px;
    padding: 20px 16px;
    font-size: 12px;
  }

  & .woocommerce-error {
    background-color: var(--red-2);
    color: var(--red-9);
  }

  & .woocommerce-info {
    background-color: var(--green-3);
    color: var(--green-10);
  }

  & .woocommerce-message {
    background-color: var(--green-3);
    color: var(--green-10);
  }
}

#mega-menu-wrap-header-menu #mega-menu-header-menu[data-effect="fade_up"] > li.mega-menu-item > ul.mega-sub-menu {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: var(--white);

  & .mega-menu-row {
    width: 100%;
    max-width: var(--container-full);
    margin-inline: auto;
    float: none;
  }
}

.wpc_show_bottom_widget .wpc-filters-open-button-container {
  margin: 0;
}

.wpc-filters-open-button-container {
  width: 100%;

  & .wpc-filters-open-widget {
    width: 100%;

    & .wpc-button-inner {
      justify-content: center;
    }
  }
}

#menu-menu-gorne .menu-item a {
  padding: 16px;
}
