#mega-menu-wrap-header-menu .mega-menu-toggle {
  display: none;
}

#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link {
  color: var(--black);
  background-color: transparent;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 6px;
}
