
.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
  font-weight: 700;

  & .form-row {
    & label {
      display: block;
      margin-bottom: .5rem;
    }

    & input {
      border: 2px solid var(--white);
      padding: 1rem;
      width: 100%;
    }

  }

}

.woocommerce-product-attributes-item__label {
  min-width: 200px;
}
