.wpfMainWrapper {
  display: flex;
  gap: var(--space-sm);
  margin-block: var(--space-md);
  flex-wrap: wrap;

  &.is-mobile {
    display: none;
    position: fixed !important;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    z-index: 99999;
    flex-direction: column;
    padding: var(--space-md);
    margin-block: 0;

    &.is-active {
      display: flex;
    }

    & .wpfFilterButtons {
      margin-top: auto;
    }
  }

  &:not(.is-mobile) {
    display: none;

    @media (--lg) {
      display: flex;
    }
  }

  @media (--lg) {
    &.is-mobile {
      display: none !important;
    }
  }

  & .wpfFilterWrapper {
    width: max-content !important;
    min-width: 30%;

    & .wpfFilterTitle {
      text-transform: uppercase;
      cursor: revert;
    }

    & .wpfTitleToggle {
      display: none;
    }

    & .ms-options-wrap {
      & button {
        background-color: transparent;
        color: var(--white) !important;
        border: 2px solid var(--white, #fff) !important;
        padding: 2ex !important;
        font-size: 1rem !important;
        line-height: revert !important;
        margin-top: 0 !important;
      }

      & > .ms-options {
        background-color: var(--black);

        & > ul {
          list-style-type: none;

          & li.selected label,
          & label:hover {
            background-color: var(--white);
            color: var(--black);
            cursor: pointer;
          }
        }
      }
    }
  }

  &.is-mobile .wpfFilterWrapper {
    width: 100% !important;
  }
}
