.c-input {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;

  & input,
  & textarea {
    border-radius: 4px;
    border: 1px solid var(--color-gray-light);
    padding: 0.25rem;
  }

  & + .c-input {
    margin-top: 0.5rem;
  }
}

.c-input--checkbox {
  color: var(--color-gray-medium);
  font-weight: 400;
  flex-direction: column-reverse;
  align-items: start;

  & [type="checkbox"] {
    width: 32px;
    height: 32px;
    background: black;
  }
}
