{% extends "base.twig" %}

{% block content %}
	{% if posts is not empty %}
		<div class="basis-[680px]">
			{% for post in posts %}
				<article class="l-flow" data-flow-size="lg">
					{% include "partial/article-header.twig" with {'post': post, 'links': true, 'show_excerpt': true} %}
				</article>
			{% endfor %}
			{% include 'partial/pagination.twig' with {'posts': posts} %}
		</div>
	{% endif %}
{% endblock %}
