{% extends 'page.twig' %}

{% block header %}
	{{ parent() }}
	{% include 'partial/woocommerce-header.twig' %}
{% endblock %}

{% block content_header %}
	{% if show_back_link %}
		<a href="{{ shop_link }}"><i class="icon-left"></i> Sklep</a>
	{% endif %}
	{{ parent() }}
{% endblock %}
