{% extends 'woocommerce.twig' %}

{% block content %}
	{% if fn('function_exists', 'yoast_breadcrumb') %}
		{{ fn('yoast_breadcrumb', '<p class="my-8" id="breadcrumbs">', '</p>') }}
	{% endif %}
	{% if slider_images %}
		<div class="glide">
			<div class="glide__track" data-glide-el="track">
				<ul class="glide__slides">
					{% for image in slider_images %}
						<li class="glide__slide">
							<img class="" width="1044" height="350" src="{{ image }}" alt=""/>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="glide__arrows" data-glide-el="controls">
				<button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="icon-left-open"></i></button>
				<button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="icon-right-open"></i></button>
			</div>
		</div>
	{% endif %}

	<div class="flex-grow">

		<div class="before-shop-loop">
			<h1 class="uppercase font-black text-xl [ mt-6 ]">Bestsellery</h1>
		</div>
		<hr class="w-full [ clear-both ] [ border-solid border-white border-b-2 ] my-4">
		<div class="grid [ grid-cols-2 lg:grid-cols-4 ] [ gap-6 mt-8 ]">
			{% for post in posts %}
				{% set product = fn('wc_get_product', post.id) %}
				{% include ["partial/tease-product.twig"] with {post: post, product: product} %}
			{% endfor %}
		</div>

		<footer class="mt-4 lg:mt-16">
			{{ post.content }}
		</footer>
	</div>
{% endblock  %}
