.l-container {
  max-width: var(--container-full);
  width: 100%;
  margin-inline: auto;

  &[data-size="fullwidth"] {
    max-width: 100vw;
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    padding-inline: calc((100vw - var(--container-full)) / 2);
  }

  &[data-aligned="false"] {
    margin-inline: initial;
    padding-inline: initial;
  }

  &[data-size="narrow"] {
    max-width: var(--container-narrow);
  }
}

@media (--md) {
  .md\:l-container {
    max-width: var(--container-full);
    margin-inline: auto;
  }
}
