{% if shop_menu %}
	<style>
		.kkilseo {
			position: relative;
			width: 100vw;
		}

		.kkilseo::before {
			background: var(--white);
			width: calc(100% - 8px - (2 * (50% - 50vw)));
			content: '';
			margin-inline: calc(50% - 50vw);
			z-index: -1;
			position: absolute;
			height: 2px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	</style>
	<ul class="[ hidden lg:flex ] l-container [ flex-wrap flex-row justify-center ] | uppercase | kkilseo | mb-auto">
		{% for item in shop_menu.get_items() %}
			<li class="bg-black {{ item.classes | join(' ') }}">
				<a class="c-menu__link | px-4" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
